src/main/resources/xsd/AvatarPartAttribute.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="unqualified" version="4.1.0"
        xmlns:sod="blazingtwist/sod/" targetNamespace="blazingtwist/sod/">

    <complexType name="AvatarPartAttribute">
        <sequence>
            <element maxOccurs="1" minOccurs="1" name="K" type="xsd:string"/>
            <element maxOccurs="1" minOccurs="1" name="V" type="xsd:string"/>
        </sequence>
    </complexType>
</schema>