src/main/resources/xsd/HouseDataPart.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="4.1.0"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1"
        xmlns:sod="blazingtwist/sod/" targetNamespace="blazingtwist/sod/">

    <complexType name="HouseDataPart">
        <sequence>
            <element maxOccurs="1" minOccurs="1" name="PartTypes" type="xsd:string"/>
            <element maxOccurs="1" minOccurs="1" name="PartNames" type="xsd:string"/>
        </sequence>
    </complexType>
</schema>