src/main/resources/xsd/ItemStateRule.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="4.1.0"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

    <xsi:include schemaLocation="ItemStateCriteria.xsd"/>
    <xsi:include schemaLocation="CompletionAction.xsd"/>

    <xsi:complexType name="ItemStateRule">
        <xsi:sequence>
            <xsi:element maxOccurs="unbounded" minOccurs="1" name="Criterias" type="ItemStateCriteria"/>
            <xsi:element maxOccurs="1" minOccurs="1" name="CompletionAction" type="CompletionAction"/>
        </xsi:sequence>
    </xsi:complexType>
</xsi:schema>