src/main/resources/xsd/ItemData.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="4.1.0"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

    <xsi:include schemaLocation="ItemState.xsd"/>
    <xsi:include schemaLocation="ItemRarity.xsd"/>
    <xsi:include schemaLocation="ItemPossibleStatsMap.xsd"/>
    <xsi:include schemaLocation="ItemStatsMap.xsd"/>
    <xsi:include schemaLocation="ItemSaleConfig.xsd"/>
    <xsi:include schemaLocation="BluePrint.xsd"/>
    <xsi:include schemaLocation="ItemAttribute.xsd"/>
    <xsi:include schemaLocation="ItemDataCategory.xsd"/>
    <xsi:include schemaLocation="ItemDataRollover.xsd"/>
    <xsi:include schemaLocation="ItemDataRelationship.xsd"/>
    <xsi:include schemaLocation="ItemDataTexture.xsd"/>
    <xsi:include schemaLocation="ItemAvailability.xsd"/>

    <xsi:complexType name="ItemData">
        <xsi:sequence>
            <xsi:element maxOccurs="unbounded" minOccurs="1" name="is" type="ItemState">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="itemStates"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="ir" type="ItemRarity">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="itemRarity"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="ipsm" type="ItemPossibleStatsMap">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="possibleStatsMap"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="ism" type="ItemStatsMap">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="itemStatsMap"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="unbounded" minOccurs="0" name="iscs" type="ItemSaleConfig">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="itemSaleConfigs"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="bp" type="BluePrint">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="bluePrint"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="an" type="xsd:string">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="assetName"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="unbounded" minOccurs="0" name="at" type="ItemAttribute">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="attribute"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="unbounded" minOccurs="1" name="c" type="ItemDataCategory">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="category"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="ct" type="xsd:int">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="cost"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="ct2" type="xsd:int">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="cashCost"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="cp" type="xsd:int">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="creativePoints"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="d" type="xsd:string">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="description"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="icn" type="xsd:string">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="iconName"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="im" type="xsd:int">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="inventoryMax"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="id" type="xsd:int">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="itemID"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="itn" type="xsd:string">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="itemName"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="itnp" type="xsd:string">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="itemNamePlural"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="l" type="xsd:boolean">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="locked"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="g" type="xsd:string">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="geometry2"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="ro" type="ItemDataRollover">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="rollover"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="rid" type="xsd:int">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="rankID"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="unbounded" minOccurs="1" name="r" type="ItemDataRelationship">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="relationship"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="s" type="xsd:boolean">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="stackable"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="as" type="xsd:boolean">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="allowStacking"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="sf" type="xsd:int">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="saleFactor"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="unbounded" minOccurs="1" name="t" type="ItemDataTexture">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="texture"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="u" type="xsd:int">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="uses"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="unbounded" minOccurs="1" name="av" type="ItemAvailability">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="availability"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="1" name="rtid" type="xsd:int">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="rewardTypeID"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
            <xsi:element maxOccurs="1" minOccurs="0" name="p" type="xsd:int">
                <xsi:annotation>
                    <xsi:appinfo>
                        <jaxb:property name="points"/>
                    </xsi:appinfo>
                </xsi:annotation>
            </xsi:element>
        </xsi:sequence>
    </xsi:complexType>
</xsi:schema>