src/main/resources/xsd/NameValidationRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="4.1.0"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1"
        xmlns:sod="blazingtwist/sod/" targetNamespace="blazingtwist/sod/">

    <include schemaLocation="NameCategory.xsd"/>

    <complexType name="NameValidationRequest">
        <sequence>
            <element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string"/>
            <element maxOccurs="1" minOccurs="1" name="Category" type="sod:NameCategory"/>
        </sequence>
    </complexType>
</schema>