src/main/resources/xsd/Pair.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="4.1.0"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1"
        xmlns:sod="blazingtwist/sod/" targetNamespace="blazingtwist/sod/">

    <complexType name="Pair">
        <sequence>
            <element maxOccurs="1" minOccurs="1" name="PairKey" type="xsd:string"/>
            <element maxOccurs="1" minOccurs="1" name="PairValue" type="xsd:string"/>
            <element maxOccurs="1" minOccurs="1" name="UpdateDate" type="xsd:dateTime"/>
        </sequence>
    </complexType>
</schema>