src/main/resources/xsd/ProcessExchangeItemRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="4.1.0"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1"
        xmlns:sod="blazingtwist/sod/" targetNamespace="blazingtwist/sod/">

    <complexType name="ProcessExchangeItemRequest">
        <sequence>
            <element maxOccurs="1" minOccurs="1" name="ExchangeGroupID" type="xsd:long"/>
            <element maxOccurs="1" minOccurs="1" name="ProductGroupID" type="xsd:int"/>
            <element maxOccurs="1" minOccurs="1" name="Repeat" type="xsd:int"/>
        </sequence>
    </complexType>
</schema>