src/main/resources/xsd/RewardMultiplier.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="unqualified" version="4.1.0"
        xmlns:sod="blazingtwist/sod/" targetNamespace="blazingtwist/sod/">

    <complexType name="RewardMultiplier">
        <sequence>
            <element maxOccurs="1" minOccurs="1" name="PT" type="xsd:int"/>
            <element maxOccurs="1" minOccurs="1" name="MF" type="xsd:int"/>
            <element maxOccurs="1" minOccurs="1" name="MET" type="xsd:dateTime"/>
        </sequence>
    </complexType>
</schema>